$logo-size-mobile:3.5rem;
$logo-text-size-mobile:1.5rem;
$logo-color-white-theme:#43B5A0;
$text-color-white-theme:#969696;
$background-color-White-theme:#F7F7F7;
$content-color-white-theme:#BAD4C5;
$icon-size-mobile:1.8rem;
$low-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);


$header-height:4.5rem;
$footer-height:4rem