@use '../../css/vars.module.scss' as vars;


.commentsListStyle{
    padding-top: vars.$header-height + 1rem;
    background-color: vars.$content-color-white-theme;
}

@media (min-width:1024px){
    .commentsListStyle{
            padding-top: vars.$header-height + 1rem;
            background-color: vars.$content-color-white-theme;
            display: flex;
            flex-direction: column;
            align-items: center;
            
    }
}